<div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
         url('<%= cl_image_path "zhmyflocvzzyrqixb5es", crop: :fill %>')">


  <div class="banner" >
    <div class="container">
      <h1><strong>all cocktails</strong>!</h1>
      <p>Prepare for friday night fever.</p>
      <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn btn-flat" %>
    </div>
  </div>



  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
         url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>

    </div>
    <% end %>
  </div>


</div>

